<footer class="footer-area">
    <div class="container">
        <div class="footer-content mb-5">
            <div class="logo">
                <a routerLink="/">
                    <img src="assets/img/logo.png" alt="image">
                </a>
            </div>
            <div class="footer-contact-info d-flex align-items-center justify-content-center">
                <div class="contact-info me-4">
                    <i class="ri-map-pin-line me-2"></i> 
                    <span target="_blank">Schertz, TX</span>
                </div>
                <div class="contact-info me-4">
                    <i class="ri-phone-line me-2"></i> 
                    <a href="tel:+15136789899">(513)678-9899</a>
                </div>
                <div class="contact-info">
                    <i class="ri-mail-line me-2"></i> 
                    <a href="mailto:rdubphoto@gmail.com" target="_blank">rdubphoto@gmail.com</a>
                </div>
            </div>
            <ul class="social">
                <li>
                    <i class="ri-linkedin-box-fill me-2"></i> 
                    <a href="https://www.linkedin.com/in/robertwojtow/" target="_blank">LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
</footer>